In [2]:
from lxml import html
from lxml.html import fromstring
import requests
import pandas as pd
from bs4 import BeautifulSoup
import time
import datetime

In [3]:
games = pd.read_csv("...\\spreadspoke_scores.csv")
acs = pd.read_csv("...\\acron.csv")

In [4]:
games

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,winner
0,9/2/1966,1966,1,False,Miami Dolphins,14.0,23.0,Oakland Raiders,NaN,NaN,NaN,Orange Bowl,False,83.0,6.0,71,NaN,away
1,9/3/1966,1966,1,False,Houston Oilers,45.0,7.0,Denver Broncos,NaN,NaN,NaN,Rice Stadium,False,81.0,7.0,70,NaN,home
2,9/4/1966,1966,1,False,San Diego Chargers,27.0,7.0,Buffalo Bills,NaN,NaN,NaN,Balboa Stadium,False,70.0,7.0,82,NaN,home
3,9/9/1966,1966,2,False,Miami Dolphins,14.0,19.0,New York Jets,NaN,NaN,NaN,Orange Bowl,False,82.0,11.0,78,NaN,away
4,9/10/1966,1966,1,False,Green Bay Packers,24.0,3.0,Baltimore Colts,NaN,NaN,NaN,Lambeau Field,False,64.0,8.0,62,NaN,home
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12929,1/3/2021,2020,17,False,New England Patriots,NaN,NaN,New York Jets,NaN,NaN,NaN,Gillette Stadium,False,NaN,NaN,NaN,NaN,NaN
12930,1/3/2021,2020,17,False,New York Giants,NaN,NaN,Dallas Cowboys,NaN,NaN,NaN,MetLife Stadium,False,NaN,NaN,NaN,NaN,NaN
12931,1/3/2021,2020,17,False,Philadelphia Eagles,NaN,NaN,Washington Football Team,NaN,NaN,NaN,Lincoln Financial Field,False,NaN,NaN,NaN,NaN,NaN
12932,1/3/2021,2020,17,False,San Francisco 49ers,NaN,NaN,Seattle Seahawks,NaN,NaN,NaN,Levi's Stadium,False,NaN,NaN,NaN,NaN,NaN
12933,1/3/2021,2020,17,False,Tampa Bay Buccaneers,NaN,NaN,Atlanta Falcons,NaN,NaN,NaN,Raymond James Stadium,False,NaN,NaN,NaN,NaN,NaN

In [5]:
acs

                        team acronym
0             Miami Dolphins     mia
1             Houston Oilers     oti
2         San Diego Chargers     sdg
3          Green Bay Packers     gnb
4            Atlanta Falcons     atl
5              Buffalo Bills     buf
6              Detroit Lions     det
7        Pittsburgh Steelers     pit
8        San Francisco 49ers     sfo
9        St. Louis Cardinals     crd
10       Washington Redskins     was
11          Los Angeles Rams     ram
12          Cleveland Browns     cle
13            Dallas Cowboys     dal
14            Denver Broncos     den
15         Minnesota Vikings     min
16             New York Jets     nyj
17           Oakland Raiders     rai
18       Philadelphia Eagles     phi
19           Baltimore Colts     clt
20           Boston Patriots     nwe
21        Kansas City Chiefs     kan
22           New York Giants     nyg
23             Chicago Bears     chi
24        New Orleans Saints     nor
25        Cincinnati Bengals     cin
26      New England Patriots     nwe
27          Seattle Seahawks     sea
28      Tampa Bay Buccaneers     tam
29       Los Angeles Raiders     rai
30        Indianapolis Colts     clt
31         Phoenix Cardinals     crd
32         Arizona Cardinals     crd
33      Jacksonville Jaguars     jax
34            St. Louis Rams     ram
35         Carolina Panthers     car
36          Baltimore Ravens     rav
37          Tennessee Oilers     oti
38          Tennessee Titans     oti
39            Houston Texans     htx
40      Los Angeles Chargers     sdg
41  Washington Football Team     was
42         Las Vegas Raiders     rai

In [ ]:
dates = games[['schedule_date', 'team_home']]
for p , stuff in dates.iterrows():
    try:
        print(stuff[0])
        team = stuff[1]
        datestuff = stuff[0]
        print(datestuff.split('/')[0])
        print(datestuff.split('/')[1])
        print(datestuff.split('/')[2])
        print(team)
        ac = acs.loc[acs['team'] == team]
        #print(ac['acronym'])
        l = ac['acronym']
        for item in l:
            acro = item
        print(acro)
    except:
        print("failed")

In [ ]:
header = ['Date', 'Player', 'Tm', 'p_Cmp', 'p_Att', 'p_Yds', 'p_TD', 'Int', 'Sk', 'Yds_lost', 'p_Lng', 'p_Rate', 'ru_Att', 'ru_Yds', 'ru_TD', 'ru_Lng', 're_targ','Rec', 're_Yds', 're_TD', 're_Lng', 'fmb', 'fmb_loss']
offdf = pd.DataFrame(columns = header)

test = dates.head()

print(datetime.datetime.now())
for pad, item in dates.iterrows():
    try:
        team = item[1]
        day = item[0].split('/')
        if len(day[0]) == 1:
            sday = f'0{day[0]}'
        else:
            sday = day[0]
        if len(day[1]) == 1:
            mday = f'0{day[1]}'
        else:
            mday = day[1]  
        ac = acs.loc[acs['team'] == team]
        l = ac['acronym']
        for fe in l:
            acro = fe
        url = f"https://www.pro-football-reference.com/boxscores/{day[2]}{sday}{mday}0{acro}.htm"
        print(url)
        response = requests.get(url)
        root = fromstring(response.content)
        table = root.xpath('//table[@id="player_offense"]')[0]
        for row in table.xpath(".//tr")[1:]:
            if [cell.text_content() for cell in row.xpath(".//th")] == header:
                print("")
            elif len([cell.text_content() for cell in row.xpath(".//th")]) == 1:
                player = [cell.text_content() for cell in row.xpath(".//th")]
                scores = [cell.text_content() for cell in row.xpath(".//td")]
                points = scores[1:]
                if int(day[2]) < 1992:
                    offdf = offdf.append({'Date': item[0], 'Player': player[0], 'Tm': scores[0] , 'p_Cmp': points[0], 'p_Att': points[1], 'p_Yds': points[2], 'p_TD': points[3], 'Int': points[4], 'Sk': points[5], 'Yds_lost': points[6], 'p_Lng': points[7], 'p_Rate': points[8], 'ru_Att': points[9], 'ru_Yds': points[10], 'ru_TD': points[11], 'ru_Lng': points[12], 'Rec': points[13], 're_Yds': points[14], 're_TD': points[15], 're_Lng': points[16]},ignore_index=True)
                elif int(day[2]) >= 1992 and int(day[2]) < 1994:
                    offdf = offdf.append({'Date': item[0], 'Player': player[0], 'Tm': scores[0] , 'p_Cmp': points[0], 'p_Att': points[1], 'p_Yds': points[2], 'p_TD': points[3], 'Int': points[4], 'Sk': points[5], 'Yds_lost': points[6], 'p_Lng': points[7], 'p_Rate': points[8], 'ru_Att': points[9], 'ru_Yds': points[10], 'ru_TD': points[11], 'ru_Lng': points[12],'re_targ': points[13], 'Rec': points[14], 're_Yds': points[15], 're_TD': points[16], 're_Lng': points[17]},ignore_index=True)
                else:
                    offdf = offdf.append({'Date': item[0], 'Player': player[0], 'Tm': scores[0] , 'p_Cmp': points[0], 'p_Att': points[1], 'p_Yds': points[2], 'p_TD': points[3], 'Int': points[4], 'Sk': points[5], 'Yds_lost': points[6], 'p_Lng': points[7], 'p_Rate': points[8], 'ru_Att': points[9], 'ru_Yds': points[10], 'ru_TD': points[11], 'ru_Lng': points[12],'re_targ': points[13], 'Rec': points[14], 're_Yds': points[15], 're_TD': points[16], 're_Lng': points[17], 'fmb': points[18], 'fmb_loss': points[19]},ignore_index=True)
    except:
        print("Last Site Failed")

print(datetime.datetime.now())

In [11]:
offdf

,Date,Player,Tm,p_Cmp,p_Att,p_Yds,p_TD,Int,Sk,Yds_lost,...,ru_Yds,ru_TD,ru_Lng,re_targ,Rec,re_Yds,re_TD,re_Lng,fmb,fmb_loss
0,9/2/1966,Tom Flores,OAK,11,20,161,2,1,,,...,0,0,0,NaN,0,0,0,0,NaN,NaN
1,9/2/1966,Cotton Davidson,OAK,7,19,80,0,3,,,...,-4,0,0,NaN,0,0,0,0,NaN,NaN
2,9/2/1966,Roger Hagberg,OAK,0,0,0,0,0,,,...,23,0,0,NaN,2,37,0,0,NaN,NaN
3,9/2/1966,Hewritt Dixon,OAK,0,0,0,0,0,,,...,5,1,0,NaN,0,0,0,0,NaN,NaN
4,9/2/1966,Art Powell,OAK,0,0,0,0,0,,,...,0,0,0,NaN,8,104,1,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170208,11/12/2020,A.J. Brown,TEN,0,0,0,0,0,0,0,...,0,0,0,4,1,21,0,21,0,0
170209,11/12/2020,Khari Blasingame,TEN,0,0,0,0,0,0,0,...,0,0,0,1,1,13,0,13,0,0
170210,11/12/2020,Cameron Batson,TEN,0,0,0,0,0,0,0,...,0,0,0,2,2,8,0,5,0,0
170211,11/12/2020,Anthony Firkser,TEN,0,0,0,0,0,0,0,...,0,0,0,3,1,5,0,5,0,0
170212,11/12/2020,Nick Westbrook-Ikhine,TEN,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [6]:
test = dates.head()
test

  schedule_date           team_home
0      9/2/1966      Miami Dolphins
1      9/3/1966      Houston Oilers
2      9/4/1966  San Diego Chargers
3      9/9/1966      Miami Dolphins
4     9/10/1966   Green Bay Packers

In [12]:
offdf.to_csv('...\\offense2.csv')

In [27]:
a = (22/36-.3)*5
b = (340/36)*.25
c = (3/36)*20
d = 2.375 - (0/36*25)

print(((a+b+c+d)/6)*100)

132.6388888888889

In [11]:
print(datetime.datetime.now())

2020-11-14 14:06:04.737547

In [ ]:
header = ['Date', 'Player', 'Tm', 'p_Cmp', 'p_Att', 'p_Yds', 'p_TD', 'Int', 'Sk', 'Yds_lost', 'p_Lng', 'p_Rate', 'ru_Att', 'ru_Yds', 'ru_TD', 'ru_Lng', 're_targ','Rec', 're_Yds', 're_TD', 're_Lng', 'fmb', 'fmb_loss']
offdf = pd.DataFrame(columns = header)

test = dates.head()

print(datetime.datetime.now())
for pad, item in dates.iterrows():
    team = item[1]
    day = item[0].split('/')
    if int(day[2]) >= 1994 and int(day[2]) < 2008:
        if len(day[0]) == 1:
            sday = f'0{day[0]}'
        else:
            sday = day[0]
        if len(day[1]) == 1:
            mday = f'0{day[1]}'
        else:
            mday = day[1]  
        ac = acs.loc[acs['team'] == team]
        l = ac['acronym']
        for fe in l:
            acro = fe
        url = f"https://www.pro-football-reference.com/boxscores/{day[2]}{sday}{mday}0{acro}.htm"
        print(url)
        response = requests.get(url)
        root = fromstring(response.content)
        try:
            table = root.xpath('//table[@id="player_offense"]')[0]
            for row in table.xpath(".//tr")[1:]:
                if [cell.text_content() for cell in row.xpath(".//th")] == header:
                    print("")
                elif len([cell.text_content() for cell in row.xpath(".//th")]) == 1:
                    player = [cell.text_content() for cell in row.xpath(".//th")]
                    scores = [cell.text_content() for cell in row.xpath(".//td")]
                    points = scores[1:]
                    #print(points[19])
                    offdf = offdf.append({'Date': item[0], 'Player': player[0], 'Tm': scores[0] , 'p_Cmp': points[0], 'p_Att': points[1], 'p_Yds': points[2], 'p_TD': points[3], 'Int': points[4], 'Sk': points[5], 'Yds_lost': points[6], 'p_Lng': points[7], 'p_Rate': points[8], 'ru_Att': points[9], 'ru_Yds': points[10], 'ru_TD': points[11], 'ru_Lng': points[12],'re_targ': points[13], 'Rec': points[14], 're_Yds': points[15], 're_TD': points[16], 're_Lng': points[17]},ignore_index=True)
        except:
            print("Last site failed")
                #print(f"'Date': {item[0]}, 'Player': {player[0]}, 'Tm': {scores[0]}, 'p_Cmp': {points[0]}, 'p_Att': {points[1]}, 'p_Yds': {points[2]}, 'p_TD': {points[3]}, 'Int': {points[4]}, 'Sk': {points[5]}, 'Yds_lost': {points[6]}, 'p_Lng': {points[7]}, 'p_Rate': {points[8]}, 'ru_Att': {points[9]}, 'ru_Yds': {points[10]}, 'ru_TD': {points[11]}, 'ru_Lng': {points[12]},'re_targ': {points[13]}, 'Rec': {points[14]}, 're_Yds': {points[15]}, 're_TD': {points[16]}, 're_Lng': {points[17]}, 'fmb': {points[18]}, 'fmb_loss': {points[19]}")
#                 elif:
#                     offdf = offdf.append({'Date': item[0], 'Player': player[0], 'Tm': scores[0], 'p_Cmp': points[0], 'p_Att': points[1], 'p_Yds': points[2], 'p_TD': points[3], 'Int': points[4], 'Sk': points[5], 'Yds_lost': points[6], 'p_Lng': points[7], 'p_Rate': points[8], 'ru_Att': points[9], 'ru_Yds': points[10], 'ru_TD': points[11], 'ru_Lng': points[12],'re_targ': points[13], 'Rec': points[14], 're_Yds': points[15], 're_TD': points[16], 're_Lng': points[17], 'fmb': points[18], 'fmb_loss': points[19]}, ignore_index=True)

In [39]:
offdf.to_csv('...\\offense3.csv')