In [70]:
import pandas as pd
import datetime
from time import sleep
from tqdm import tqdm

In [100]:
perfdf = pd.read_csv("combinedall.csv")
scoredf = pd.read_csv("...\\spreadspoke_scores.csv")
stadiumdf = pd.read_csv("...\\nfl_stadiums.csv")

In [101]:
perfdf = perfdf.drop(['Unnamed: 0'], axis=1)

In [102]:
perfdf

,Date,Year,Player,Tm,p_Cmp,p_Att,p_Yds,p_TD,Int,Sk,...,last_re_targ,last_Rec,last_re_Yds,last_re_TD,last_re_Lng,last_fmb,last_fmb_loss,lat,long,elevation
0,11/26/2006,2006,A.J. Feeley,Philadelphia Eagles,4.0,5.0,21.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12/31/2006,2006,A.J. Feeley,Philadelphia Eagles,22.0,33.0,321.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,11/18/2007,2007,A.J. Feeley,Philadelphia Eagles,13.0,19.0,116.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11/25/2007,2007,A.J. Feeley,Philadelphia Eagles,27.0,42.0,345.0,3.0,3.0,2.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,12/2/2007,2007,A.J. Feeley,Philadelphia Eagles,19.0,42.0,220.0,1.0,4.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236714,12/12/1999,1999,Zola Davis,Cleveland Browns,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
236715,12/19/1999,1999,Zola Davis,Cleveland Browns,0.0,0.0,0.0,0.0,0.0,NaN,...,2.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
236716,12/26/1999,1999,Zola Davis,Cleveland Browns,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
236717,11/16/2003,2003,Zuriel Smith,Dallas Cowboys,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236718,12/7/2003,2003,Zuriel Smith,Dallas Cowboys,0.0,0.0,0.0,0.0,0.0,NaN,...,2.0,2.0,38.0,0.0,32.0,NaN,NaN,NaN,NaN,NaN

In [103]:
# convert the 'Date' column to datetime format
scoredf['schedule_date']= pd.to_datetime(scoredf['schedule_date'])

In [104]:
scoredf

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,winner
0,1966-09-02,1966,1,False,Miami Dolphins,14.0,23.0,Oakland Raiders,NaN,NaN,NaN,Orange Bowl,False,83.0,6.0,71,NaN,away
1,1966-09-03,1966,1,False,Houston Oilers,45.0,7.0,Denver Broncos,NaN,NaN,NaN,Rice Stadium,False,81.0,7.0,70,NaN,home
2,1966-09-04,1966,1,False,San Diego Chargers,27.0,7.0,Buffalo Bills,NaN,NaN,NaN,Balboa Stadium,False,70.0,7.0,82,NaN,home
3,1966-09-09,1966,2,False,Miami Dolphins,14.0,19.0,New York Jets,NaN,NaN,NaN,Orange Bowl,False,82.0,11.0,78,NaN,away
4,1966-09-10,1966,1,False,Green Bay Packers,24.0,3.0,Baltimore Colts,NaN,NaN,NaN,Lambeau Field,False,64.0,8.0,62,NaN,home
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12929,2021-01-03,2020,17,False,New England Patriots,NaN,NaN,New York Jets,NaN,NaN,NaN,Gillette Stadium,False,NaN,NaN,NaN,NaN,NaN
12930,2021-01-03,2020,17,False,New York Giants,NaN,NaN,Dallas Cowboys,NaN,NaN,NaN,MetLife Stadium,False,NaN,NaN,NaN,NaN,NaN
12931,2021-01-03,2020,17,False,Philadelphia Eagles,NaN,NaN,Washington Football Team,NaN,NaN,NaN,Lincoln Financial Field,False,NaN,NaN,NaN,NaN,NaN
12932,2021-01-03,2020,17,False,San Francisco 49ers,NaN,NaN,Seattle Seahawks,NaN,NaN,NaN,Levi's Stadium,False,NaN,NaN,NaN,NaN,NaN
12933,2021-01-03,2020,17,False,Tampa Bay Buccaneers,NaN,NaN,Atlanta Falcons,NaN,NaN,NaN,Raymond James Stadium,False,NaN,NaN,NaN,NaN,NaN

In [105]:
testdf = perfdf.loc[(perfdf['Year'] >= 2016) & (perfdf['Year'] < 2026) ]
testdf

,Date,Year,Player,Tm,p_Cmp,p_Att,p_Yds,p_TD,Int,Sk,...,last_re_targ,last_Rec,last_re_Yds,last_re_TD,last_re_Lng,last_fmb,last_fmb_loss,lat,long,elevation
52192,9/25/2016,2016,A'Shawn Robinson,Detroit Lions,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
52193,9/8/2019,2019,A.J. Brown,Tennessee Titans,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52194,9/15/2019,2019,A.J. Brown,Tennessee Titans,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,3.0,100.0,0.0,51.0,0.0,0.0,NaN,NaN,NaN
52195,9/19/2019,2019,A.J. Brown,Tennessee Titans,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,3.0,25.0,0.0,11.0,0.0,0.0,NaN,NaN,NaN
52196,9/29/2019,2019,A.J. Brown,Tennessee Titans,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,1.0,4.0,0.0,4.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76511,12/29/2019,2019,Zay Jones,Oakland Raiders,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
76512,9/21/2020,2020,Zay Jones,Las Vegas Raiders,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76513,9/27/2020,2020,Zay Jones,Las Vegas Raiders,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,15.0,1.0,15.0,0.0,0.0,NaN,NaN,NaN
76514,10/4/2020,2020,Zay Jones,Las Vegas Raiders,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,32.0,0.0,13.0,0.0,0.0,NaN,NaN,NaN
76515,10/11/2020,2020,Zay Jones,Las Vegas Raiders,0.0,0.0,0.0,0.0,0.0,0.0,...,7.0,4.0,32.0,0.0,16.0,0.0,0.0,NaN,NaN,NaN

In [ ]:
print(datetime.datetime.now())
for d,i in tqdm(testdf.iterrows()):
    try:
        stadium = scoredf['stadium'][(scoredf['team_home'] == f'{i[3]}') & (scoredf['schedule_date'] == f'{i[0]}')].item()
    except:
        stadium = scoredf['stadium'][(scoredf['team_away'] == f'{i[3]}') & (scoredf['schedule_date'] == f'{i[0]}')].item()
    print(i[2], stadium, lat, long, elev)
    lat = stadiumdf['LATITUDE'][(stadiumdf['stadium_name'] == stadium)].item()
    long = stadiumdf['LONGITUDE'][(stadiumdf['stadium_name'] == stadium)].item()
    elev = stadiumdf['ELEVATION'][(stadiumdf['stadium_name'] == stadium)].item()
    testdf['lat'][(testdf['Tm'] == f'{i[3]}') & (testdf['Date'] == f'{i[0]}')] = lat
    testdf['long'][(testdf['Tm'] == f'{i[3]}') & (testdf['Date'] == f'{i[0]}')] = long
    testdf['elevation'][(testdf['Tm'] == f'{i[3]}') & (testdf['Date'] == f'{i[0]}')] = elev
    print(i[2], stadium, lat, long, elev)
print(datetime.datetime.now())

In [107]:
testdf

,Date,Year,Player,Tm,p_Cmp,p_Att,p_Yds,p_TD,Int,Sk,...,last_re_targ,last_Rec,last_re_Yds,last_re_TD,last_re_Lng,last_fmb,last_fmb_loss,lat,long,elevation
52192,9/25/2016,2016,A'Shawn Robinson,Detroit Lions,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44.47940,-88.13660,209.4
52193,9/8/2019,2019,A.J. Brown,Tennessee Titans,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.40570,-81.85200,238.0
52194,9/15/2019,2019,A.J. Brown,Tennessee Titans,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,3.0,100.0,0.0,51.0,0.0,0.0,36.11889,-86.68917,182.9
52195,9/19/2019,2019,A.J. Brown,Tennessee Titans,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,3.0,25.0,0.0,11.0,0.0,0.0,30.23333,-81.66667,6.1
52196,9/29/2019,2019,A.J. Brown,Tennessee Titans,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,1.0,4.0,0.0,4.0,0.0,0.0,33.75612,-84.80089,1050.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76511,12/29/2019,2019,Zay Jones,Oakland Raiders,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.76330,-104.86940,1611.2
76512,9/21/2020,2020,Zay Jones,Las Vegas Raiders,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.09146,-115.18336,2057.0
76513,9/27/2020,2020,Zay Jones,Las Vegas Raiders,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,15.0,1.0,15.0,0.0,0.0,42.04790,-71.00500,24.4
76514,10/4/2020,2020,Zay Jones,Las Vegas Raiders,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,32.0,0.0,13.0,0.0,0.0,36.09146,-115.18336,2057.0
76515,10/11/2020,2020,Zay Jones,Las Vegas Raiders,0.0,0.0,0.0,0.0,0.0,0.0,...,7.0,4.0,32.0,0.0,16.0,0.0,0.0,39.06920,-94.48710,264.9

In [108]:
testdf.to_csv('years16_20.csv')

In [80]:
testdf.describe()

,Year,p_Cmp,p_Att,p_Yds,p_TD,Int,Sk,Yds_lost,p_Lng,p_Rate,...,last_re_targ,last_Rec,last_re_Yds,last_re_TD,last_re_Lng,last_fmb,last_fmb_loss,lat,long,elevation
count,49172.000000,46228.000000,46228.000000,46228.000000,46228.000000,46214.000000,13781.000000,11687.000000,46214.000000,6535.000000,...,44395.000000,44445.000000,44445.000000,44445.000000,42814.000000,5612.0,5612.0,49172.000000,49172.000000,49172.000000
mean,2000.547446,2.125422,3.650796,24.697110,0.146426,0.118600,0.887744,6.675280,4.584044,77.596373,...,3.097015,1.857554,21.689594,0.128518,11.336549,0.0,0.0,37.854858,-89.969666,276.149815
std,2.870311,6.100947,10.292925,71.842367,0.542957,0.474137,1.502956,10.721446,13.163960,31.906774,...,3.394757,2.176289,30.577474,0.382778,13.571293,0.0,0.0,5.107743,14.888434,406.658089
min,1996.000000,0.000000,0.000000,-11.000000,0.000000,0.000000,0.000000,0.000000,-11.000000,0.000000,...,0.000000,0.000000,-13.000000,0.000000,-13.000000,0.0,0.0,19.303610,-122.409500,1.800000
25%,1998.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,55.250000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,33.758420,-94.487100,6.100000
50%,2001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,77.900000,...,2.000000,1.000000,9.000000,0.000000,8.000000,0.0,0.0,39.100000,-84.516670,177.700000
75%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,11.000000,0.000000,99.700000,...,5.000000,3.000000,32.000000,0.000000,17.000000,0.0,0.0,40.682500,-80.214400,366.700000
max,2005.000000,43.000000,69.000000,522.000000,6.000000,7.000000,10.000000,71.000000,99.000000,158.300000,...,26.000000,16.000000,291.000000,4.000000,98.000000,0.0,0.0,47.652300,-71.005000,7982.000000